plugin/src/java/org/apache/jetspeed/services/plugin/configuration/plugins.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Art Vandelay (Vendelay Industries) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT classname (#PCDATA)>
<!ELEMENT plugin (classname, property*)>
<!ATTLIST plugin
	name CDATA #REQUIRED
	default CDATA #IMPLIED
>
<!ELEMENT plugins (plugin)>
<!ELEMENT property (#PCDATA)>
<!ATTLIST property
	name CDATA #REQUIRED
>
